<tc-card [title]="'Typography'" class="mb-0">
  <div>
    <h1>H1. Heading Open Sans Bold</h1>
    <p>
      Scientists now know that the whole northwestern region of the United States was hit by gigantic eruptions. They
      say that there were at least a dozen. Some of which were much stronger than previously thought.
    </p>
    <h2>H2. Heading Open Sans Bold</h2>
    <p>
      Scientists now know that the whole northwestern region of the United States was hit by gigantic eruptions. They
      say that there were at least a dozen. Some of which were much stronger than previously thought.
    </p>
    <h3>H3. Heading Open Sans Bold</h3>
    <p>
      Scientists now know that the whole northwestern region of the United States was hit by gigantic eruptions. They
      say that there were at least a dozen. Some of which were much stronger than previously thought.
    </p>
    <h4>H4. Heading Open Sans Bold</h4>
    <p>
      Scientists now know that the whole northwestern region of the United States was hit by gigantic eruptions. They
      say that there were at least a dozen. Some of which were much stronger than previously thought.
    </p>
    <h5>H5. Heading Open Sans Bold</h5>
    <p>
      Scientists now know that the whole northwestern region of the United States was hit by gigantic eruptions. They
      say that there were at least a dozen. Some of which were much stronger than previously thought.
    </p>
    <h6>H6. Heading Open Sans Bold</h6>
    <p>
      Scientists now know that the whole northwestern region of the United States was hit by gigantic eruptions. They
      say that there were at least a dozen. Some of which were much stronger than previously thought.
    </p>
    <p>
      In a free hour, when our power of choice is untrammelled and when nothing prevents our being
      able to do what we like best, every pleasure is to be welcomed and every pain avoided.
    </p>
    <blockquote>
      <p>
        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
        by the charms of pleasure of the moment, so blinded by desire
      </p>
    </blockquote>
    <p>
      But in certain circumstances and owing to the claims of duty or the obligations of business it
      will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore
      always holds in these matters to this principle of selection: he rejects pleasures to secure other greater
      pleasures, or else he endures pains to avoid worse pains.
    </p>
    <ol type="a">
      <li>Yellowstone supervolcano;</li>
      <li>outburst occurred;</li>
      <li>northwestern region;</li>
    </ol>
    <p>
      They say that there were at least a dozen eruptions in the area over the last 12 million years.
    </p>
    <p>Types of lists</p>
    <ul [style.list-style-type]="'circle'">
      <li>unordered marked list item</li>
      <li>unordered marked list item</li>
      <li>unordered marked list item</li>
    </ul>
    <ul [style.list-style-type]="'disc'">
      <li>unordered marked list item</li>
      <li>unordered marked list item</li>
      <li>unordered marked list item</li>
    </ul>
    <ul [style.list-style-type]="'square'">
      <li>unordered marked list item</li>
      <li>unordered marked list item</li>
      <li>unordered marked list item</li>
    </ul>
    <ol type="i">
      <li>ordered marked list item</li>
      <li>ordered marked list item</li>
      <li>ordered marked list item</li>
    </ol>
    <ol type="A">
      <li>ordered marked list item</li>
      <li>ordered marked list item</li>
      <li>ordered marked list item</li>
    </ol>
  </div>
</tc-card>
