<h5>Basic pricing</h5>

<div class="row">
  <div class="col-12 col-md-6 col-xl-3" *ngFor="let pricingItem of data">
    <tc-pricing
      [title]="pricingItem.title"
      [price]="pricingItem.price"
      [priceDesc]="pricingItem.priceDesc"
      [list]="pricingItem.list"
			[accentColor]="pricingItem.accentColor || '#061e38'"
    ></tc-pricing>
  </div>
</div>

<h5>Colored pricing</h5>

<div class="row">
  <div class="col-12 col-md-6 col-xl-3" *ngFor="let pricingItem of coloredData; let i = index">
    <tc-pricing
      [title]="pricingItem.title"
      [price]="pricingItem.price"
      [priceDesc]="pricingItem.priceDesc"
      [list]="pricingItem.list"
      [accentColor]="pricingItem.accentColor || '#061e38'"
      [ngClass]="{ 'mb-md-0': i > 1, 'mb-0': i > 2 }"
      class="mb-xl-0"
    ></tc-pricing>
  </div>
</div>