<div class="row">
	<div class="col-md-4 col-12">
		<tc-card [img]="'assets/content/card-1.jpg'">
      <h3 class="h5 mt-0">Media Card</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi delectus possimus reprehenderit eius, voluptate maxime.</p>
      <button tc-button [view]="'success'" [block]="true">Action</button>
		</tc-card>
	</div>

	<div class="col-md-4 col-12">
		<tc-card [img]="'assets/content/card-2.jpg'">
      <h3 class="h5 mt-0">Media Card</h3>
      <p>Aenean aliquam ultricies dictum. Nunc finibus sagittis metus, id blandit tortor dapibus a. Etiam accumsan malesuada diam, non fringilla justo auctor nec</p>
      <button tc-button [view]="'info'" [block]="true">Action</button>
		</tc-card>
	</div>

	<div class="col-md-4 col-12">
		<tc-card  [img]="'assets/content/card-3.jpg'">
      <h3 class="h5 mt-0">Media Card</h3>
      <p>Suspendisse vel eleifend nunc, quis consectetur nulla. Donec venenatis mattis purus maximus dictum. Donec blandit metus purus, id sollicitudin </p>
      <button tc-button [block]="true">Action</button>
		</tc-card>
	</div>

	<div class="col-md-4 col-12">
		<tc-card>
      <div class="card-header">
        <div class="img">
          <img src="assets/content/avatar-55-2.jpg" [tcShape]="500">
        </div>

        <div class="info">
          <h4 class="h5 mt-0 mb-0">Kayla Davidson</h4>
          <p class="mb-0">May 12, 2018</p>
        </div>
      </div>

      <p class="mb-0 mt-3" [tcFontSize]="'1.3rem'">Phasellus massa dui, iaculis sit amet consectetur sed, maximus vel dolor.</p>
		</tc-card>
	</div>

	<div class="col-md-4 col-12">
		<tc-card [view]="'warning'">
      <div class="card-header">
        <div class="img">
          <img src="assets/content/avatar-55-4.jpg" [tcShape]="500">
        </div>

        <div class="info">
          <h4 class="h5 mt-0 mb-0">Bobby Harper</h4>
          <p class="mb-0">March 02, 2018</p>
        </div>
      </div>

      <p class="mb-0 mt-3" [tcFontSize]="'1.3rem'">Phasellus massa dui, iaculis sit amet consectetur sed, maximus vel dolor.</p>
		</tc-card>
	</div>

	<div class="col-md-4 col-12">
		<tc-card [view]="'info'">
      <div class="card-header">
        <div class="img">
          <img src="assets/content/avatar-55-5.jpg" [tcShape]="500">
        </div>

        <div class="info">
          <h4 class="h5 mt-0 mb-0">Isaac Snow</h4>
          <p class="mb-0">Jule 22, 2018</p>
        </div>
      </div>

      <p class="mb-0 mt-3" [tcFontSize]="'1.3rem'">Phasellus massa dui, iaculis sit amet consectetur sed, maximus vel dolor.</p>
		</tc-card>
	</div>

	<div class="col-md-6 col-12">
		<tc-card [tcColor]="'#fff'"  [bgImg]="'assets/content/card-4.jpg'">
      <br><br><br><br><br>
      <h4>Lorem ipsum dolor.</h4>
      <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, autem? Reprehenderit accusantium, ratione incidunt eveniet, sequi vitae recusandae qui quas accusamus a eum soluta rerum doloribus est nisi id suscipit!</p>
		</tc-card>
	</div>

  <div class="col-md-6 col-12">
    <tc-card [tcColor]="'#fff'"  [bgImg]="'assets/content/card-5.jpg'">
      <br><br><br><br><br>
      <h4>Lorem ipsum dolor.</h4>
      <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, autem? Reprehenderit accusantium, ratione incidunt eveniet, sequi vitae recusandae qui quas accusamus a eum soluta rerum doloribus est nisi id suscipit!</p>
    </tc-card>
  </div>

	<div class="col-md-6 col-12">
		<tc-card>
      <div class="mb-3">
        <tc-badge [view]="'success'" [size]="'sm'">Hot</tc-badge>
      </div>

      <div class="card-header">
        <div class="img">
          <img src="assets/content/avatar-55-6.jpg" [tcShape]="500">
        </div>

        <div class="info">
          <h4 class="h6 mt-0 mb-0">Isaac Snow</h4>
          <p class="mb-0">@isaac_12snow</p>
        </div>

        <div class="addition" [tcColor]="'#ccc'">1 hour ago</div>
      </div>

      <p>Phasellus massa dui, iaculis sit amet consectetur sed, maximus vel dolor. Morbi orci eros, semper at bibendum ut, tempor vitae tellus. Curabitur ipsum purus, aliquam vel turpis ut, dictum hendrerit lorem.</p>

      <div>
        <span><tc-icon [iconClass]="'icofont-heart'" [tcColor]="'#ec2427'"></tc-icon> 590</span>
        <span class="ml-3"><tc-icon [iconClass]="'icofont-ui-messaging'" [tcColor]="'#2cb0ec'"></tc-icon> 24</span>
      </div>
		</tc-card>
	</div>

	<div class="col-md-6 col-12">
		<tc-card>
      <div class="mb-3">
        <tc-badge [view]="'info'" [size]="'sm'" class="mr-2">News</tc-badge>
        <tc-badge [size]="'sm'">Web development</tc-badge>
      </div>

      <div class="card-header">
        <div class="img">
          <img src="assets/content/avatar-55-18.jpg" [tcShape]="500">
        </div>

        <div class="info">
          <h4 class="h6 mt-0 mb-0">Aron Osborne</h4>
          <p class="mb-0">@aron_osborne</p>
        </div>

        <div class="addition" [tcColor]="'#ccc'">1 hour ago</div>
      </div>

      <p>Phasellus massa dui, iaculis sit amet consectetur sed, maximus vel dolor. Morbi orci eros, semper at bibendum ut, tempor vitae tellus. Curabitur ipsum purus, aliquam vel turpis ut, dictum hendrerit lorem.</p>

      <div>
        <span><tc-icon [iconClass]="'icofont-heart'" [tcColor]="'#ec2427'"></tc-icon> 144</span>
        <span class="ml-3"><tc-icon [iconClass]="'icofont-ui-messaging'" [tcColor]="'#2cb0ec'"></tc-icon> 8</span>
      </div>
		</tc-card>
	</div>

	<div class="col-md-4 col-12" *ngFor="let user of data">
		<!-- <tc-contact [user]="user" class="mb-0"></tc-contact> -->
	</div>

	<div class="col-md-4 col-sm-12">
		<tc-card [img]="'assets/content/card-6.jpg'" class="mb-0">
      <h4 class="mt-0">Team conference</h4>

      <div class="mb-3">
        <tc-badge [view]="'info'" [size]="'sm'" class="mr-2">Upcoming Event</tc-badge>
        <tc-badge [size]="'sm'">Web development</tc-badge>
      </div>

      <p class="mb-0">Morbi orci eros, semper at bibendum ut, tempor vitae tellus. Curabitur ipsum purus, aliquam vel turpis ut, dictum hendrerit lorem. Aenean ac semper dui dapibus maximus est. Duis dignissim eu metus non congue.</p>
		</tc-card>
	</div>
</div>
