<div  *ngIf="display">
  <div class="row header">
    <div class="col-7 icons p-0">
      <div id="Profile" [class]="'mr-2 aosp-ui-icon-header aosp-ui-new-lead'"></div>
      <span>Calendar</span>
    </div>
    <div class="col-3 p-0 text-right">
      <span>{{today | date:'EEE, MMM d'}}</span>
    </div>
    <div class="col-2 icons p-0">
      <div id="Profile" [class]="'mr-2 aosp-ui-icon-header aosp-ui-new-lead'"></div>
    </div>
  </div>
  
  <hr>
  
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <bs-datepicker-inline class="calendar" [bsValue]="bsInlineValue"></bs-datepicker-inline>
    </div>
  </div>

  <br>
  
  <mat-tab-group mat-stretch-tabs class="mat-elevation-z4" animationDuration="0ms">
    <mat-tab label="Pending Task">
      <div class="contact-item row taskList" *ngFor="let pendingtask of pendingTasks">
        <div class="col-12 text-left p-0">
          <span class="item-text">{{pendingtask.startDate | date:'shortTime'}}</span>
        </div>
        <div class="col-11 text-left p-0">
          <span class="item-title">{{pendingtask.title}}</span>
        </div>
        <div class="col-1 text-right p-0 h-0">
          <tc-checkbox class="checkbox" [value]="false" class="form-control"></tc-checkbox>
        </div>
        <div class="col-12 text-left p-0">
          <span class="item-text">{{pendingtask.description}} </span><span class="item-title">Nombre</span>
        </div>     
      </div>
    </mat-tab>
    <mat-tab label="Due Task"> Content 2 </mat-tab>
  </mat-tab-group>

  <div class="buttons">
    <button tc-button [tcShape]="4" [block]="true" (click)="changeDisplay()">ADD TASK</button>     
  </div>
</div>

<div *ngIf="!display">  
  <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
    <mat-tab label="Add Task"> 
      <div class="container"> 
        <app-add-task></app-add-task>        
      </div>  
    </mat-tab>
    <mat-tab label="Add Appointment">
     <div class="container"> 
        <app-add-appointment></app-add-appointment>        
      </div>  
    </mat-tab>
    <mat-tab label="Add Reminder"> 
     <div class="container"> 
        <app-add-reminder></app-add-reminder>        
      </div>  
    </mat-tab>
  </mat-tab-group>
  
</div>