@import '~assets/sass/variables';

.header {
	.icons {
		display: flex;
		flex-direction: row;
		font-size: 0.9em;
		padding: $module-rem 0;

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
		}
	}
}

.buttons {
	padding: 20px 75px 20px 75px;
}

hr {
	width: 85%;
	background-color: #00529b;
}

.taskList {
	padding: 7px 20px 7px 20px;
	font-family: Roboto;
	font-size: 0.9em;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.67;
	letter-spacing: normal;

	.item-text {
        color: rgba(#fff,.8);
	}
	.item-title {
		color: #5aaef3;
	}
}

.item {
	padding: 7px 0;
}

.container {
	padding: 25px 20px 7px 20px;
}

.checkbox {
	height: auto !important;
}

.buttons {
	padding: 20px 75px 20px 75px;
}
