<div class="row">
  <div class="col-12 col-md-6 col-xl-4">
    <tc-card [title]="'Default'"	[overflow]="false">
      <tc-v-timeline [data]="data"></tc-v-timeline>
    </tc-card>
  </div>

  <div class="col-12 col-md-6 col-xl-4">
    <tc-card [title]="'Right align'">
      <tc-v-timeline [data]="data" [align]="'right'"></tc-v-timeline>
    </tc-card>
  </div>

  <div class="col-12 col-md-12 col-xl-4">
    <tc-card [title]="'With labels'">
      <tc-v-timeline [data]="data" [showYears]="true"></tc-v-timeline>
    </tc-card>
  </div>
</div>

<tc-card [title]="'Center align'">
  <tc-v-timeline [data]="data" [align]="'center'"></tc-v-timeline>
</tc-card>

<tc-card class="mb-0" [title]="'Between align'">
  <tc-v-timeline [data]="data" [align]="'between'"></tc-v-timeline>
</tc-card>
