@import '~assets/sass/variables';

$_header-bg: main-palette(500);
$_row-hover-bg: main-palette(500);

$table-border: solid 1px main-palette(500);
$scroll-height: 40 * $module;
$input-color: rgba(#000, 0.9);

$_shape: $shape;
$_animation: $animation;

:host {
  display: block;
  margin: 0;
  padding: 0;

  table {
    border: 1px solid main-palette(500);
    border-radius: $_shape;
    overflow: auto;
		width: 100%;

    tr {
			background: #2c435b;
      transition:
        background .2s $_animation,
        border .2s $_animation,
        color .2s $_animation;
			width: 100%;

			&:last-child {
				td{ 
					border-bottom: none;
				}
			}

			th {
				color: #fff;
			}

      th, td {
				border-bottom: 1px solid rgba(#000, 0.15);
				color: inherit;
        padding: $module-rem;
        transition:
          background .2s $_animation,
          border .2s $_animation,
          color .2s $_animation;

        &:first-child {
          padding-left: $module-rem * 2;
        }
        &:last-child {
          padding-right: $module-rem * 2;
        }
      }
      th {
        align-items: center;
				background: $_header-bg;
				color: #fff !important;
        opacity: 1;
				position: relative;

        .search-box {
          width: 100%;

          tc-input {
            min-width: 6 * $module-rem;
          }
        }
        .icons {
          display: inline-block;
          float: right;
					opacity: 0.8;

          .arrows {
            display: flex;
            font-size: 0.8em;
            flex-direction: column;
            height: 100%;
						padding: 0 0 0 $module-rem;

            .up {
							transition: color 0.3s $animation;

              &.active {
                color: accent-palette(400);
                opacity: 1;
              }
            }
            .down {
							transition: color 0.3s $animation;

              &.active {
                color: accent-palette(400);
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .header-wrapper {
      display: flex;
      align-content: center;
		}
    &.stripped {
      > tbody {
        > tr:nth-child(odd) {
          background: $_row-hover-bg;
        }
      }
    }
    &.hovered {
      > tbody {
        > tr:hover {
          background: $_row-hover-bg;
        }
      }
    }
    &.bordered {
      > tbody {
        td {
          border: $table-border;
        }
      }
    }
  }
  .table-wrap {
    display: block;
    overflow: auto;
  }
  ::ng-deep {
    .table-row {
      align-items: center;
      display: flex;
      margin: 0 (-$module-rem / 2);

      .table-col {
        margin: 0 ($module-rem / 2);
      }
    }
  }
}
