<tc-form-group *ngIf="search">
	<tc-input
		[placeholder]="'Seach in table'"
		[tcFilterTable]="config.filtering"
		(tableChanged)="onChangeTable(config)"
		[suffixIcon]="'icofont-search-alt-2'"
	></tc-input>
</tc-form-group>

<div class="table-wrap">
	<table [ngClass]="getTableClasses()">
		<tr>
			<th
				*ngFor="let c of columnList;"
				[column]="c.config"
				[align]="headerAlign"
				[tcTableSort]="c.config.sort"
				(sortChanged)="onChangeTable(config, c)"
				[tcBgColor]="headerBgColor"
			>
				<div class="header-wrapper">
					<ng-container *ngIf="!c.headerTemplate">
						<ng-container *ngIf="!c.enableFiltering">
							<span class="title">
								 {{ c.config.title }}
							</span>
						</ng-container>

						<ng-container *ngIf="c.enableFiltering">
							<div class="search-box">
								<tc-input
									[size]="'sm'"
									(click)="$event.stopPropagation();"
									[tcFilterTable]="c.config.filtering"
									[suffixIcon]="'icofont-search-alt-2'"
									(tableChanged)="onChangeTable(config, c)"
									[placeholder]="c.config.title">
						 		</tc-input>
							</div>
						</ng-container>

						<span class="icons">
							<span *ngIf="c.config.enableSorting" class="arrows">
								<i class="up icofont-caret-up pull-left"  [ngClass]="{'active': c.config.sort == 'asc'}"></i>
								<i class="down icofont-caret-down" [ngClass]="{'active': c.config.sort == 'desc'}"></i>
							</span>
						</span>
					</ng-container>
				</div>
				<ng-template *ngIf="c.headerTemplate" [ngTemplateOutlet]="c.headerTemplate"	></ng-template>
			</th>
		</tr>
		<tr *ngFor="let row of rows"
				[align]="rowAlign"
				[ngStyle]="{'background': contentBgColor, 'color'     : contentColor}"
		>
			<td *ngFor="let col of columnList">
				<ng-container *ngIf="!col.bodyTemplate"
				>
				{{ row[col.config.name] }}
				</ng-container>
				<ng-template
					*ngIf="col.bodyTemplate"
					[ngTemplateOutlet]="col.bodyTemplate"
					[ngTemplateOutletContext]="{$implicit: row[col.config.name] , row: row}"
				></ng-template>
			</td>
		</tr>
	</table>
</div>
<tc-pagination  *ngIf="pagination && pagesCount > 1" [pagesNumber]="pagesCount" [pageNum]="page" (goToPage)="goToPage($event)"></tc-pagination>
