@import '~assets/sass/variables';

$_header-bg:#0c1d55;
$_header-padding: $module-rem ($module-rem * 1.5);

$_content-bg: rgba(main-palette(500), 0.5);
$_content-br: 5px;
$_content-color: #fff;
$_content-padding: $module-rem * 2;
$_shape: $shape;

:host {
  display: block;
  margin: 0;
  margin-bottom: $module-rem;
  padding: 0;

  .panel-header {
    align-items: stretch;
    background: $_header-bg;
    border: 0px ;
    border-radius: 4px;
		cursor: pointer;
		color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    outline: none;
    padding: $_header-padding;
    transition: color .2s $animation, background .2s $animation, border-color .2s $animation;
		width: 100%;

    > * {
      // margin: 0 ($module-rem / 2);
    }
    .title-icon {
      margin-top: $module-rem * (3/4);
    }

    .title {
			align-items: center;
      display: flex;
      flex-flow: row wrap;
      flex: 2;
      text-align: left;
      font-size: 1.1em;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }
    &:hover {
			opacity: 70%;
    }
    &.active {
      border-color: accent-palette(500);
      color: accent-palette(500);
    }
    &.alternative {
      margin-bottom: 0;
			transition: background 0.3s $animation, border-radius 0.3s $animation, color 0.3s $animation;

      &.active {
        background: transparent;
        border-radius: $_shape $_shape 0 0;
				color: #fff;

        .panel-body {
          border-radius: 0 0 $_shape $_shape;
          transition: border-radius 0.2s $animation;
        }
      }
      .icon {
        &.minus {
          span {
            background: #fff;
          }
        }
      }
    }
    .icon {
			align-self: stretch;
			display: flex;
			height: 16px;
			margin-top: $module-rem * 1.55;
			justify-content: center;
			transition: background 0.3s $animation;
			width: 16px;

      span {
        background: #fff;
        border-radius: 1px;
        display: block;
        width: 14px;
        height: 2px;
        margin-bottom: 6px;
				transition: opacity 0.3s $animation, background 0.3s $animation;

        &:nth-child(1) {
          margin: 0;
          position: absolute;
          transform: rotate(90deg);
        }
      }
      &.minus {
        span {
          background: accent-palette(500);
          &:nth-child(1) {
            opacity: 0;
          }
        }
      }
    }
  }
  .panel-body {
    background: $_content-bg;
    border: 1px solid rgba( #000, 0.1);
    border-radius: $_shape;
		box-sizing: border-box;
    color: $_content-color;
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: $module-rem;
		transition: max-height 0.5s $animation, padding 0.1s $animation;

    &.alternative {
      margin-top: 0;
      border-radius: 0 0 $_shape $_shape;
			border-top: none;

      &.active {
        border-radius: 0 0 $_shape $_shape;
        border-top: none;
      }
    }
  }

  &.panel-small {
    > .panel {
      > .panel-header {
        font-size: .9em;
        padding-top: $module-rem / 2;
        padding-bottom: $module-rem / 2;
      }
    }
  }
  &.panel-large {
    > .panel {
      > .panel-header {
        font-size: 1.2em;
        padding-top: $module-rem * 1.5;
        padding-bottom: $module-rem * 1.5;
      }
    }
  }
  .content-wrap {
    overflow: hidden;
  }
}
