<div class="row">
	<div class="col-md-6 col-12">
		<tc-card [title]="'Linear Chart'">
			<canvas
				baseChart
				[datasets]="lineChartData"
				[labels]="lineChartLabels"
				[options]="lineChartOptions"
				[colors]="ChartColors"
				[legend]="lineChartLegend"
				[chartType]="lineChartType"
      ></canvas>
		</tc-card>
	</div>

	<div class="col-md-6 col-12">
		<tc-card [title]="'Bars Chart'">
			<canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      ></canvas>
		</tc-card>
	</div>

	<div class="col-md-6 col-12">
		<tc-card [title]="'Doughnut Chart'">
			<canvas
        baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
      ></canvas>
		</tc-card>
	</div>

	<div class="col-md-6 col-12">
		<tc-card [title]="'Radar Chart'">
			<canvas
        baseChart
        [datasets]="radarChartData"
        [labels]="radarChartLabels"
        [colors]="ChartColors"
        [chartType]="radarChartType"
      ></canvas>
		</tc-card>
	</div>

	<div class="col-12">
		<tc-card [title]="'Area Chart'"  class="mb-0">
			<canvas
        baseChart
        [data]="polarAreaChartData"
        [labels]="polarAreaChartLabels"
        [legend]="polarAreaLegend"
        [chartType]="polarAreaChartType"
      ></canvas>
		</tc-card>
	</div>
</div>
