<h5>Basic tabs</h5>

<tc-tabs class="mb-4">
	<tc-tab [tabTitle]="'Tab 1'">
		Maecenas tempor ullamcorper porta. Sed ac dolor ac neque mollis tincidunt. Aenean vitae dui a nulla pretium feugiat ut in ante. Fusce ut fringilla diam.
		Curabitur efficitur est lorem, consequat condimentum nunc eleifend ut. Integer quis felis nec tellus placerat posuere in vitae neque. Donec a mi consequat, viverra augue at, faucibus odio.
	</tc-tab>
	<tc-tab [tabTitle]="'Tab 2'" >
		Curabitur efficitur est lorem, consequat condimentum nunc eleifend ut. Integer quis felis nec tellus placerat posuere in vitae neque. Donec a mi consequat, viverra augue at, faucibus odio.
	</tc-tab>
	<tc-tab [tabTitle]="'Tab 3'">
		Duis quis varius orci. Integer eget nulla vitae est rutrum iaculis. Donec porttitor tempus gravida. Vivamus pretium id sapien vel viverra. Integer a nisl sed eros viverra ornare. Vestibulum viverra mauris non odio varius, id hendrerit arcu scelerisque.
		Curabitur efficitur est lorem, consequat condimentum nunc eleifend ut. Integer quis felis nec tellus placerat posuere in vitae neque. Donec a mi consequat, viverra augue at, faucibus odio.
	</tc-tab>
	<tc-tab [tabTitle]="'Tab 4'" [disabled]="true">
		Maecenas tempor ullamcorper porta. Sed ac dolor ac neque mollis tincidunt. Aenean vitae dui a nulla pretium feugiat ut in ante. Fusce ut fringilla diam.
		Duis quis varius orci. Integer eget nulla vitae est rutrum iaculis. Donec porttitor tempus gravida. Vivamus pretium id sapien vel viverra. Integer a nisl sed eros viverra ornare. Vestibulum viverra mauris non odio varius, id hendrerit arcu scelerisque.
	</tc-tab>
</tc-tabs>

<h5>Alternative style</h5>

<tc-tabs [view]="'alternative'">
	<tc-tab [tabTitle]="'Tab 1'">
		Maecenas tempor ullamcorper porta. Sed ac dolor ac neque mollis tincidunt. Aenean vitae dui a nulla pretium feugiat ut in ante. Fusce ut fringilla diam.
		Curabitur efficitur est lorem, consequat condimentum nunc eleifend ut. Integer quis felis nec tellus placerat posuere in vitae neque. Donec a mi consequat, viverra augue at, faucibus odio.
	</tc-tab>
	<tc-tab [tabTitle]="'Tab 2'">
		Curabitur efficitur est lorem, consequat condimentum nunc eleifend ut. Integer quis felis nec tellus placerat posuere in vitae neque. Donec a mi consequat, viverra augue at, faucibus odio.
	</tc-tab>
	<tc-tab [tabTitle]="'Tab 3'">
		Duis quis varius orci. Integer eget nulla vitae est rutrum iaculis. Donec porttitor tempus gravida. Vivamus pretium id sapien vel viverra. Integer a nisl sed eros viverra ornare. Vestibulum viverra mauris non odio varius, id hendrerit arcu scelerisque.
		Curabitur efficitur est lorem, consequat condimentum nunc eleifend ut. Integer quis felis nec tellus placerat posuere in vitae neque. Donec a mi consequat, viverra augue at, faucibus odio.
	</tc-tab>
	<tc-tab [tabTitle]="'Tab 4'" [disabled]="true">
		Maecenas tempor ullamcorper porta. Sed ac dolor ac neque mollis tincidunt. Aenean vitae dui a nulla pretium feugiat ut in ante. Fusce ut fringilla diam.
		Duis quis varius orci. Integer eget nulla vitae est rutrum iaculis. Donec porttitor tempus gravida. Vivamus pretium id sapien vel viverra. Integer a nisl sed eros viverra ornare. Vestibulum viverra mauris non odio varius, id hendrerit arcu scelerisque.
	</tc-tab>
</tc-tabs>
