<h5>Simple cards</h5>

<div class="row">
	<div class="col-12 col-md-6">
		<tc-card [title]="'Simple card with title'">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis
			culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
	<div class="col-12 col-md-6">
		<tc-card>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis
			culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
</div>

<h5>Colored cards</h5>

<div class="row">
	<div class="col-12 col-md-6">
		<tc-card [view]="'default'">
			<b>Standart card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
	<div class="col-12 col-md-6">
		<tc-card [view]="'info'">
			<b>Info card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
</div>

<div class="row">
	<div class="col-12 col-md-6">
		<tc-card [view]="'success'">
			<b>Success card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
	<div class="col-12 col-md-6">
		<tc-card [view]="'warning'">
			<b>Warning card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
</div>

<div class="row">
	<div class="col-12 col-md-6">
		<tc-card [view]="'error'">
			<b>Error card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
	<div class="col-12 col-md-6">
		<tc-card [tcBgColor]="'#ff7043'" [tcColor]="'#f5f5f5'">
			<b>Custom card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
</div>

<h5>Card Shapes</h5>

<div class="row">
	<div class="col-12 col-md-6">
		<tc-card [tcShape]="0">
			<b>Squere card</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
	<div class="col-12 col-md-6">
		<tc-card>
			<b>Default card</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
</div>
<div class="row">
	<div class="col-12 col-md-6">
		<tc-card [tcShape]="10">
			<b>Rounded card</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
	<div class="col-12 col-md-6">
		<tc-card [tcShape]="'2rem'">
			<b>Rounded card</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
</div>

<h5>Outline card</h5>

<div class="row">
	<div class="col-12 col-md-6">
		<tc-card [outline]="true" [view]="'default'">
			<b>Standart card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>

	<div class="col-12 col-md-6">
		<tc-card [outline]="true" [view]="'info'">
			<b>Info card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
</div>

<div class="row">
	<div class="col-12 col-md-6">
		<tc-card [outline]="true" [view]="'success'">
			<b>Success card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>

	<div class="col-12 col-md-6">
		<tc-card [outline]="true" [view]="'warning'">
			<b>Warning card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
</div>

<div class="row">
	<div class="col-12 col-md-6">
		<tc-card [outline]="true" [view]="'error'">
			<b>Error card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>

	<div class="col-12 col-md-6">
		<tc-card [outline]="true" [tcColor]="'#fff'">
			<b>Custom card.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis
			temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
</div>

<h5>Background image cards</h5>

<div class="row">
	<div class="col-12 col-md-6">
		<tc-card [bgImg]="'assets/content/card-4.jpg'" [tcColor]="'#fff7e5'">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis
			culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
			<br>
			<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis
			culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
			<br>
			<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis
			culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>

	<div class="col-12 col-md-6">
		<tc-card [bgImg]="'assets/content/card-5.jpg'" [tcColor]="'#4b4b4b'">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis
			culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
			<br>
			<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis
			culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
			<br>
			<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis
			culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
</div>

<h5>Align cards</h5>

<div class="row">
	<div class="col-12 col-md-4">
		<tc-card [view]="'error'" class="mb-md-0">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis
			culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>

	<div class="col-12 col-md-4">
		<tc-card [view]="'warning'" [align]="'center'" class="mb-md-0">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis
			culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
	<div class="col-12 col-md-4">
		<tc-card [view]="'success'" [align]="'right'" class="mb-0">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis
			culpa labore velit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, provident?
		</tc-card>
	</div>
</div>
