@import '~assets/sass/variables';

:host {
	align-items: center;
	background: url("../../../../assets/content/login-bg.jpg") 50% 50% no-repeat;
	background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
	width: 100%;

	> * {
		width: 100%;
		max-width: 400px;
	}

  .login-form {
		padding: ($module-rem * 3) ($module-rem * 2 ) ($module-rem );
	}
	.forgot-box {
		align-items: center;
		background: rgba(#000, .1);
		display: flex;
		text-align: center;
		justify-content: center;
		padding: $module-rem;	
		margin-top: ($module-rem * 2);
		width: 100%;

		a {
			color: #fff;
			opacity: .8;
			font-size: .9em;
			text-decoration: none;
			transition: opacity .3s $animation;

			&:hover {
				opacity: 1;
			}
		}
		.divider {
			border-right: 1px solid rgba(#000, .2);
			display: inline-block;
			height: 2 * $module;
			margin: 0 ( $module-rem * 1.5 );
		}
  }
}
