<div class="row">
	<div class="col-12 col-md-6 col-xl-3">
		<tc-card>
      <div class="row no-gutters align-items-center">
        <div class="col">
          <h3 class="h6 mt-0 mb-0" [tcColor]="'rgba(255,255,255,0.5)'">Total</h3>
          <div [tcFontSize]="'1.4rem'" class="nowrap">$9,254</div>
          <div [tcColor]="'#81c784'" class="nowrap">
            <tc-icon [iconClass]="'icofont-long-arrow-up'" [padding]="0" [tcFontSize]="'1.5rem'"></tc-icon>15%
          </div>
        </div>

        <div class="col-auto">
          <tc-icon [iconClass]="'icofont-credit-card'" [tcFontSize]="'3.8rem'" [padding]="0" [tcColor]="'#a4bda2'"></tc-icon>
        </div>
      </div>
		</tc-card>
	</div>

	<div class="col-12 col-md-6 col-xl-3">
		<tc-card>
      <div class="row no-gutters align-items-center">
        <div class="col">
          <h3 class="h6 mt-0 mb-0" [tcColor]="'rgba(255,255,255,0.5)'">Sales</h3>
          <div [tcFontSize]="'1.4rem'" class="nowrap">458</div>
          <div [tcColor]="'#e24d4d'" class="nowrap">this month</div>
        </div>

        <div class="col-auto">
          <tc-icon [iconClass]="'icofont-chart-pie'" [tcFontSize]="'3.8rem'" [padding]="0" [tcColor]="'#fff7e5'"></tc-icon>
        </div>
      </div>
		</tc-card>
	</div>

	<div class="col-12 col-md-6 col-xl-3">
		<tc-card>
      <div class="row no-gutters align-items-center">
        <div class="col">
          <h3 class="h6 mt-0 mb-0" [tcColor]="'rgba(255,255,255,0.5)'">Users</h3>
          <div [tcFontSize]="'1.4rem'" class="nowrap">12,023</div>
          <div [tcColor]="'#FF8534'" class="nowrap">
            <tc-icon [iconClass]="'icofont-long-arrow-up'" [padding]="0" [tcFontSize]="'1.5rem'"></tc-icon>21%
          </div>
        </div>

        <div class="col-auto">
          <tc-icon [iconClass]="'icofont-ui-user'" [tcFontSize]="'3.8rem'" [padding]="0" [tcColor]="'#e2dada'"></tc-icon>
        </div>
      </div>
		</tc-card>
	</div>

	<div class="col-12 col-md-6 col-xl-3">
		<tc-card>
      <div class="row no-gutters align-items-center">
        <div class="col">
          <h3 class="h6 mt-0 mb-0" [tcColor]="'rgba(255,255,255,0.5)'">Growth</h3>
          <div [tcFontSize]="'1.4rem'" class="nowrap">22%</div>
          <div [tcColor]="'#678cf9'" class="nowrap">this month</div>
        </div>

        <div class="col-auto">
          <tc-icon [iconClass]="'icofont-chart-histogram-alt'" [tcFontSize]="'3.8rem'" [padding]="0" [tcColor]="'#d3e2f9'"></tc-icon>
        </div>
      </div>
		</tc-card>
	</div>

	<div class="col-12 col-md-6 col-xl-3">
		<tc-card>
      <div class="row no-gutters align-items-center">
        <div class="col">
          <tc-icon [iconClass]="'icofont-chart-bar-graph'" [tcFontSize]="'5rem'" [padding]="0" [tcColor]="'#e24d4d'"></tc-icon>
        </div>

        <div class="col-auto text-right">
          <h3 class="h6 mt-0 mb-0" [tcColor]="'rgba(255,255,255,0.5)'">Growth</h3>
          <div [tcColor]="'#81c784'" [tcFontSize]="'1.2rem'" class="nowrap">
            <tc-icon [iconClass]="'icofont-long-arrow-up'" [padding]="0" [tcFontSize]="'1.5em'"></tc-icon>35%
          </div>
        </div>
      </div>
		</tc-card>
	</div>

	<div class="col-12 col-md-6 col-xl-3">
		<tc-card>
      <div class="row no-gutters align-items-center">
        <div class="col">
          <tc-icon [iconClass]="'icofont-money-bag'" [tcFontSize]="'5rem'" [padding]="0" [tcColor]="'#81c784'"></tc-icon>
        </div>

        <div class="col-auto text-right">
          <h3 class="h6 mt-0 mb-0" [tcColor]="'rgba(255,255,255,0.5)'">Income</h3>
          <div [tcFontSize]="'1.2rem'" class="nowrap">$5 587</div>
        </div>
      </div>
		</tc-card>
	</div>

	<div class="col-12 col-md-6 col-xl-3">
		<tc-card>
      <div class="row no-gutters align-items-center">
        <div class="col">
          <tc-icon [iconClass]="'icofont-law-document'" [tcFontSize]="'5rem'" [padding]="0" [tcColor]="'#e24d4d'"></tc-icon>
        </div>

        <div class="col-auto text-right">
          <h3 class="h6 mt-0 mb-0" [tcColor]="'rgba(255,255,255,0.5)'">Tax</h3>
          <div [tcFontSize]="'1.2rem'" class="nowrap">$2 184</div>
        </div>
      </div>
		</tc-card>
	</div>

	<div class="col-12 col-md-6 col-xl-3">
		<tc-card>
      <div class="row no-gutters align-items-center">
        <div class="col">
          <tc-icon [iconClass]="'icofont-brand-aliexpress'" [tcFontSize]="'5rem'" [padding]="0" [tcColor]="'#678cf9'"></tc-icon>
        </div>

        <div class="col-auto text-right">
          <h3 class="h6 mt-0 mb-0" [tcColor]="'rgba(255,255,255,0.5)'">Orders</h3>
          <div [tcFontSize]="'1.2rem'" class="nowrap">1,868</div>
        </div>
      </div>
		</tc-card>
	</div>

	<div class="col-md-4 col-sm-12">
		<tc-card  [tcShape]="30">
      <div class="row no-gutters align-items-end">
        <div class="col-6">
          <h3 class="h6 mt-0 mb-0">Sales</h3>
          <div [tcFontSize]="'0.9rem'" class="nowrap">1,483 $</div>
        </div>

        <div class="col-6">
          <div class="chat-container container-h-100 negative-indents">
            <ngx-charts-bar-vertical
              [scheme]="mainColor"
              [results]="linearData"
              [gradient]="true"
              [barPadding]="15"
              [xAxis]="false"
              [yAxis]="false"
              [legend]="false"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
            ></ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
		</tc-card>
	</div>

	<div class="col-md-4 col-sm-12">
    <tc-card  [tcShape]="30">
      <div class="row no-gutters align-items-end">
        <div class="col-6">
          <h3 class="h6 mt-0 mb-0">Earning</h3>
          <div [tcFontSize]="'0.9rem'" class="nowrap">1,483 $</div>
        </div>

        <div class="col-6">
          <div class="chat-container container-h-100 negative-indents">
            <ngx-charts-line-chart
              [scheme]="mainColor"
              [results]="linearData2"
              [gradient]="true"
              [xAxis]="false"
              [yAxis]="false"
              [legend]="false"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
            ></ngx-charts-line-chart>
          </div>
        </div>
      </div>
    </tc-card>
	</div>

	<div class="col-md-4 col-sm-12">
    <tc-card  [tcShape]="30">
      <div class="row no-gutters align-items-end">
        <div class="col-6">
          <h3 class="h6 mt-0 mb-0">Balance</h3>
          <div [tcFontSize]="'0.9rem'" class="nowrap">11,482 $</div>
        </div>

        <div class="col-6">
          <div class="chat-container container-h-100 negative-indents">
            <ngx-charts-area-chart
              [scheme]="mainColor"
              [results]="linearData3"
              [gradient]="false"
              [xAxis]="false"
              [yAxis]="false"
              [legend]="false"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
            ></ngx-charts-area-chart>
          </div>
        </div>
      </div>
    </tc-card>
	</div>

  <div class="col-md-4 col-12">
    <tc-card>
      <div class="row align-items-center">
        <div class="col-auto">
          <tc-icon [iconClass]="'icofont-brand-ibm'" [padding]="0" [tcFontSize]="'3.5rem'" [tcColor]="'#1F70C1'"></tc-icon>
        </div>

        <div class="col">
          <h3 class="h5 mt-0 mb-0">IBM</h3>
          <div>Website</div>
        </div>

        <div class="col-auto">
          <div [tcFontSize]="'1.2rem'" class="nowrap">543.50</div>
        </div>
      </div>
    </tc-card>
  </div>

	<div class="col-md-4 col-12">
		<tc-card>
      <div class="row align-items-center">
        <div class="col-auto">
          <tc-icon [iconClass]="'icofont-brand-whatsapp'" [padding]="0" [tcFontSize]="'3.5rem'" [tcColor]="'#34af23'"></tc-icon>
        </div>

        <div class="col">
          <h3 class="h5 mt-0 mb-0">Whatsapp</h3>
          <div>Platform</div>
        </div>

        <div class="col-auto">
          <div [tcFontSize]="'1.2rem'" [tcColor]="'#e5b4ff'" class="nowrap">-152.20</div>
        </div>
      </div>
		</tc-card>
	</div>

	<div class="col-md-4 col-12">
		<tc-card>
      <div class="row align-items-center">
        <div class="col-auto">
          <tc-icon [iconClass]="'icofont-brand-amazon'" [padding]="0" [tcFontSize]="'3.5rem'" [tcColor]="'#000'"></tc-icon>
        </div>

        <div class="col">
          <h3 class="h5 mt-0 mb-0">Amazon</h3>
          <div>Company</div>
        </div>

        <div class="col-auto">
          <div [tcFontSize]="'1.2rem'" [tcColor]="'#ff9900'" class="nowrap">+314.70</div>
        </div>
      </div>
		</tc-card>
	</div>

	<div class="col-md-4 col-12">
		<tc-card>
      <div class="row no-gutters align-items-center">
        <div class="col-6 mb-3">Online Sales</div>

        <div class="col-6 text-right mb-3" [tcFontSize]="'1.4rem'">$12,457</div>
      </div>

      <tc-progress [size]="'sm'" [progress]="73" [color]="'#50bd35'" class="mb-0"></tc-progress>
		</tc-card>
	</div>

	<div class="col-md-4 col-12">
		<tc-card>
      <div class="row no-gutters align-items-center">
        <div class="col-6 mb-3">Offline Sales</div>

        <div class="col-6 text-right mb-3" [tcFontSize]="'1.4rem'">$6,457</div>
      </div>

      <tc-progress [size]="'sm'" [progress]="52" [color]="'#e24d4d'" class="mb-0"></tc-progress>
		</tc-card>
	</div>

	<div class="col-md-4 col-12">
		<tc-card>
      <div class="row no-gutters align-items-center">
        <div class="col-6 mb-3">Total Sales</div>

        <div class="col-6 text-right mb-3" [tcFontSize]="'1.4rem'">$18,457</div>
      </div>

      <tc-progress [size]="'sm'" [progress]="85" [color]="'#FF8534'" class="mb-0"></tc-progress>
		</tc-card>
	</div>

	<div class="col-lg-7 col-12">
    <tc-card [title]="'To Do List'">
      <tc-todo [data]="data"></tc-todo>
    </tc-card>
	</div>

	<div class="col-lg-5 col-12">
		<tc-card [title]="'Recent Users'">
      <tc-list class="mb-0">
        <tc-list-item [img]="'assets/content/avatar-55-2.jpg'" [title]="'Layla Harvey'">
          <tc-badge [size]="'sm'" [view]="'success'">Online</tc-badge>
        </tc-list-item>

        <tc-list-item [img]="'assets/content/avatar-55-1.jpg'" [title]="'Elliot Hines'">
          <tc-badge [size]="'sm'" [view]="'error'">Offline</tc-badge>
        </tc-list-item>

        <tc-list-item [img]="'assets/content/avatar-55-4.jpg'" [title]="'Kyle Hopkins'">
          <tc-badge [size]="'sm'" [view]="'success'">Online</tc-badge>
        </tc-list-item>

        <tc-list-item [img]="'assets/content/avatar-55-3.jpg'" [title]="'Sienna Mcdowell'">
          <tc-badge [size]="'sm'" [view]="'warning'">Idle</tc-badge>
        </tc-list-item>
      </tc-list>
		</tc-card>
	</div>

	<div class="col-12">
		<tc-card>
			<tc-table [search]="true" [rows]="rows" [config]="config">
				<tc-column [columnTitle]="'#'" [columnName]="'number'" [enableSorting]="true"></tc-column>

				<tc-column [columnTitle]="'Person'" [columnName]="'person'" [enableSorting]="true">
					<ng-template #tableBodyTemplate let-row="row">
						<div class="table-row">
							<div class="table-col img"><img src="{{ row['img'] }}" [tcShape]="500" width="40" height="40"></div>
              <div class="table-col">{{ row['person'] }}</div>
						</div>
					</ng-template>
				</tc-column>

				<tc-column [columnTitle]="'Position'" [columnName]="'position'" [enableSorting]="true"></tc-column>

				<tc-column [columnTitle]="'Phone'" [columnName]="'phone'" [enableSorting]="true">
          <ng-template #tableBodyTemplate let-value> <span class="nowrap">{{ value }}</span></ng-template>
				</tc-column>

				<tc-column [columnTitle]="'E-mail'" [columnName]="'email'" [enableSorting]="true"></tc-column>
			</tc-table>
		</tc-card>
	</div>

	<div class="col-md-6 col-12">
		<tc-card [title]="'Recent Orders'"  class="mb-md-0">
			<tc-table [striped]="true"[rows]="orders"[config]="config">
				<tc-column [columnTitle]="'Customer'" [columnName]="'customer'">
					<ng-template #tableBodyTemplate let-row="row">
            <div class="table-row">
              <div class="table-col img"><img src="{{ row['img'] }}" [tcShape]="500" width="40" height="40"></div>
              <div class="table-col">{{ row['customer'] }}</div>
            </div>
					</ng-template>
				</tc-column>

				<tc-column [columnTitle]="'Status'" [columnName]="'status'">
					<ng-template #tableBodyTemplate let-row="row">
						<tc-badge [size]="'sm'" [view]="row['status-view']"><span class="nowrap">{{ row['status'] }}</span></tc-badge>
					</ng-template>
				</tc-column>

				<tc-column [columnTitle]="'Date'" [columnName]="'date'">
					<ng-template #tableBodyTemplate let-value><span class="nowrap">{{ value }}</span></ng-template>
				</tc-column>

				<tc-column [columnTitle]="'Amount'" [columnName]="'amount'"></tc-column>
			</tc-table>
		</tc-card>
	</div>

	<div class="col-md-6 col-12">
		<tc-card [title]="'Products Stats'"  class="mb-0">
			<tc-table  [bordered]="true" [hovered]="true" [rows]="products" [config]="config">
				<tc-column [columnTitle]="'Customer'" [columnName]="'customer'">
					<ng-template #tableBodyTemplate let-row="row">
            <div class="table-row">
              <div class="table-col img"><img src="{{ row['img'] }}" [tcShape]="5" width="40" height="40"></div>
              <div class="table-col">{{ row['product'] }}</div>
            </div>
					</ng-template>
				</tc-column>

				<tc-column [columnTitle]="'Sales'" [columnName]="'sales'"></tc-column>

				<tc-column [columnTitle]="'Price'" [columnName]="'price'">
					<ng-template #tableBodyTemplate let-value>${{ value }}</ng-template>
				</tc-column>

				<tc-column [columnTitle]="'Views'" [columnName]="'views'"></tc-column>

				<tc-column [columnTitle]="'Total Sales'">
					<ng-template #tableBodyTemplate let-row="row">
						${{ row['sales'] * row['price'] }}
					</ng-template>
				</tc-column>
			</tc-table>
		</tc-card>
	</div>
</div>
