<tc-card [tcBgColor]="'#061e38'">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 col-xl-3 mb-4 mb-xl-0">
      <div class="row align-items-center">
        <div class="col-auto">
          <tc-icon [iconClass]="'icofont-credit-card'" [tcFontSize]="'4rem'" [padding]="0" [tcColor]="'rgba(255,255,255,0.5)'"></tc-icon>
        </div>

        <div class="col">
          <h3 class="h6 mt-0 mb-0">Total Revenue</h3>
          <div [tcFontSize]="'1.6rem'" class="nowrap">$25,574</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-3 mb-4 mb-xl-0">
      <div class="row align-items-center">
        <div class="col-auto">
          <tc-icon [iconClass]="'icofont-chart-pie'" [tcFontSize]="'4rem'" [padding]="0" [tcColor]="'rgba(255,255,255,0.5)'"></tc-icon>
        </div>

        <div class="col">
          <h3 class="h6 mt-0 mb-0">Sales</h3>
          <div [tcFontSize]="'1.6rem'" class="nowrap">458</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-3 mb-4 mb-md-0">
      <div class="row align-items-center">
        <div class="col-auto">
          <tc-icon [iconClass]="'icofont-ui-user'" [tcFontSize]="'4rem'" [padding]="0" [tcColor]="'rgba(255,255,255,0.5)'"></tc-icon>
        </div>

        <div class="col">
          <h3 class="h6 mt-0 mb-0">Unique Users</h3>
          <div [tcFontSize]="'1.6rem'" class="nowrap">12,023</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-3">
      <div class="row align-items-center">
        <div class="col-auto">
          <tc-icon [iconClass]="'icofont-chart-histogram-alt'" [tcFontSize]="'4rem'" [padding]="0" [tcColor]="'rgba(255,255,255,0.5)'"></tc-icon>
        </div>

        <div class="col">
          <h3 class="h6 mt-0 mb-0">Growth</h3>
          <div [tcFontSize]="'1.6rem'" class="nowrap">22%</div>
        </div>
      </div>
    </div>
  </div>
</tc-card>

<div class="row">
  <div class="col-12 col-md-4">
    <tc-card>
      <div class="mb-3">
        <tc-badge [view]="'success'" [size]="'sm'">Hot</tc-badge>
      </div>

      <div class="card-header">
        <div class="img">
          <img src="assets/content/avatar-55-6.jpg" [tcShape]="500">
        </div>

        <div class="info">
          <div class="row justify-content-between align-items-center">
            <div class="col-auto">
              <h4 class="h6 mt-0 mb-0">Isaac Snow</h4>
              <p class="mb-0">@isaac_12snow</p>
            </div>

            <div class="col-auto">
              <div [tcColor]="'#ccc'" class="nowrap">1 m ago</div>
            </div>
          </div>
        </div>
      </div>

      <p>Phasellus massa dui, iaculis sit amet consectetur sed, maximus vel dolor. Morbi orci eros, semper at bibendum ut, tempor vitae tellus. Curabitur ipsum purus, aliquam vel turpis ut, dictum hendrerit lorem.</p>

      <div>
        <span><tc-icon [iconClass]="'icofont-heart'" [tcColor]="'#ec2427'"></tc-icon> 590</span>
        <span class="ml-3"><tc-icon [iconClass]="'icofont-ui-messaging'" [tcColor]="'#2cb0ec'"></tc-icon> 24</span>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-4">
    <tc-card>
      <div class="mb-3">
        <tc-badge [view]="'info'" [size]="'sm'" class="mr-2">News</tc-badge>
        <tc-badge [size]="'sm'">Web development</tc-badge>
      </div>

      <div class="card-header">
        <div class="img">
          <img src="assets/content/avatar-55-18.jpg" [tcShape]="500">
        </div>

        <div class="info">
          <div class="row justify-content-between align-items-center">
            <div class="col-auto">
              <h4 class="h6 mt-0 mb-0">Aron Osborne</h4>
              <p class="mb-0">@aron_osborne</p>
            </div>

            <div class="col-auto">
              <div [tcColor]="'#ccc'" class="nowrap">1 h ago</div>
            </div>
          </div>
        </div>
      </div>

      <p>Phasellus massa dui, iaculis sit amet consectetur sed, maximus vel dolor. Morbi orci eros, semper at bibendum ut, tempor vitae tellus. Curabitur ipsum purus, aliquam vel turpis ut, dictum hendrerit lorem.</p>

      <div>
        <span><tc-icon [iconClass]="'icofont-heart'" [tcColor]="'#ec2427'"></tc-icon> 144</span>
        <span class="ml-3"><tc-icon [iconClass]="'icofont-ui-messaging'" [tcColor]="'#2cb0ec'"></tc-icon> 8</span>
      </div>
    </tc-card>
  </div>

  <div class="col-12 col-md-4">
    <tc-card>
      <div class="mb-3">
        <tc-badge [view]="'error'" [size]="'sm'" class="mr-2">Top</tc-badge>
        <tc-badge [view]="'warning'" [size]="'sm'">Trend</tc-badge>
      </div>

      <div class="card-header">
        <div class="img">
          <img src="assets/content/avatar-55-9.jpg" [tcShape]="500">
        </div>

        <div class="info">
          <div class="row justify-content-between align-items-center">
            <div class="col-auto">
              <h4 class="h6 mt-0 mb-0">Amanda Osborne</h4>
              <p class="mb-0">@amanda_osborne</p>
            </div>

            <div class="col-auto">
              <div [tcColor]="'#ccc'" class="nowrap">16 jul</div>
            </div>
          </div>
        </div>
      </div>

      <p>Phasellus massa dui, iaculis sit amet consectetur sed, maximus vel dolor. Morbi orci eros, semper at bibendum ut, tempor vitae tellus. Curabitur ipsum purus, aliquam vel turpis ut, dictum hendrerit lorem.</p>

      <div>
        <span><tc-icon [iconClass]="'icofont-heart'" [tcColor]="'#ec2427'"></tc-icon> 237</span>
        <span class="ml-3"><tc-icon [iconClass]="'icofont-ui-messaging'" [tcColor]="'#2cb0ec'"></tc-icon> 32</span>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6 col-sm-12">
    <tc-card>
      <div class="row align-items-center">
        <div class="col">
          <h3 class="h6 mt-0 mb-0">Sales</h3>
          <div [tcColor]="'#a1a7aa'" class="nowrap">Month of July 15st - July 15th</div>
        </div>

        <div class="col-auto">
          <button tc-button>View More</button>
        </div>
      </div>

      <div class="chat-container">
        <ngx-charts-line-chart
          [scheme]="colorScheme"
          [results]="linearData1"
          [gradient]="true"
          [curve]="curve"
          [xAxis]="false"
          [yAxis]="false"
          [legend]="false"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
        ></ngx-charts-line-chart>
      </div>
    </tc-card>
  </div>

  <div class="col-md-6 col-sm-12">
    <tc-card>
      <div class="row align-items-center">
        <div class="col">
          <h3 class="h6 mt-0 mb-0">Payouts</h3>
          <div [tcColor]="'#a1a7aa'" class="nowrap">Month of July 15st - July 15th</div>
        </div>

        <div class="col-auto">
          <button tc-button>View More</button>
        </div>
      </div>

      <div class="chat-container">
        <ngx-charts-line-chart
          [scheme]="colorScheme2"
          [results]="linearData2"
          [gradient]="true"
          [curve]="curve"
          [xAxis]="false"
          [yAxis]="false"
          [legend]="false"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
        ></ngx-charts-line-chart>
      </div>
    </tc-card>
  </div>

  <div class="col-md-4 col-12">
    <tc-card>
      <div class="row align-items-center">
        <div class="col-6 mb-3">Online Sales</div>

        <div class="col-6 text-right mb-3" [tcFontSize]="'1.5rem'">$12,457</div>
      </div>

      <tc-progress [size]="'sm'" [progress]="73" [color]="'#50bd35'" class="mb-0"></tc-progress>
    </tc-card>
  </div>

  <div class="col-md-4 col-12">
    <tc-card>
      <div class="row align-items-center">
        <div class="col-6 mb-3">Offline Sales</div>

        <div class="col-6 text-right mb-3" [tcFontSize]="'1.5rem'">$6,457</div>
      </div>

      <tc-progress [size]="'sm'" [progress]="52" [color]="'#e24d4d'" class="mb-0"></tc-progress>
    </tc-card>
  </div>

  <div class="col-md-4 col-12">
    <tc-card>
      <div class="row align-items-center">
        <div class="col-6 mb-3">Total Sales</div>

        <div class="col-6 text-right mb-3" [tcFontSize]="'1.5rem'">$18,457</div>
      </div>

      <tc-progress [size]="'sm'" [progress]="85" [color]="'#FF8534'" class="mb-0"></tc-progress>
    </tc-card>
  </div>
</div>

<tc-table [rows]="rows" [config]="config" [pagination]="true">
  <tc-column [columnTitle]="'#'" [columnName]="'number'"> </tc-column>
  <tc-column [columnTitle]="'Person'" [columnName]="'person'"></tc-column>
  <tc-column [columnTitle]="'Position'" [columnName]="'position'"></tc-column>
  <tc-column [columnTitle]="'Phone'" [columnName]="'phone'" [enableSorting]="true">
    <ng-template #tableBodyTemplate let-value> <span class="nowrap">{{ value }}</span></ng-template>
  </tc-column>
  <tc-column [columnTitle]="'E-mail'" [columnName]="'email'"></tc-column>
</tc-table>
